<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Huella Ecológica.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C0A41641D4AAA4100AE6F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C0A41781D4AAA4100AE6F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C0A41831D4AAA4100AE6F7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
